<div class="card center-in-div">
    <div class="card-header title"> {{ pageTitle }}</div>
    <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef class="title"> No. </th>
              <td mat-cell *matCellDef="let singleNote"> {{singleNote.id}} </td>
            </ng-container>
          
            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef class="title"> Title </th>
              <td mat-cell *matCellDef="let singleNote"> {{singleNote.title}} </td>
            </ng-container>
          
            <!-- Note Column -->
            <ng-container matColumnDef="note">
              <th mat-header-cell *matHeaderCellDef class="title"> Note </th>
              <td mat-cell *matCellDef="let singleNote"> {{singleNote.content.substring(0,12)}}... </td>
            </ng-container>
          
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="title"> Actions </th>
              <td mat-cell *matCellDef="let singleNote">
                   <button [routerLink]="['/all-notes', singleNote.id]" routerLinkActive="router-link-active"  class="btn btn-info">View</button>
                   <button class="btn btn-outline-primary" [routerLink]="['/edit-note', singleNote.id]"routerLinkActive="router-link-active">Edit</button>
                   <button class="btn btn-outline-danger" (click)="deleteNote( singleNote )">Delete</button>
                 </td>
            </ng-container>

             <!-- Date Column -->
             <ng-container matColumnDef="dateOfCreation">
                <th mat-header-cell *matHeaderCellDef class="title"> Date of Creation </th>
                <td mat-cell *matCellDef="let singleNote"> {{singleNote.dateOfCreation}}</td>
              </ng-container>

          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
          
          
    </div>
</div>
