<div class="card-header title">
    Create your note
</div>
<form [formGroup]="newNoteForm" fxLayout="column" fxLayoutAlign="space-around center">   
        <input type="number" formControlName="id" required placeholder="Note No.">   
  
        <input type="text" formControlName="title" required placeholder="Note Title"> 
   
        <textarea formControlName="content" required placeholder="Your note..."></textarea>   
      
        <input type="text" formControlName="dateOfCreation" placeholder="Date">
   

    <button [disabled]="!newNoteForm.valid" class="btn btn-success" type="submit" (click)="newNote()">Submit</button>
</form>

