<form [formGroup]="newNoteForm" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <label for="id">Note ID: </label>
        <input type="number" formControlName="id" required>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <label for="title">Title: </label>
        <input type="text" formControlName="title" required>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <label for="content">Note: </label>
        <textarea formControlName="content" required></textarea>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <label for="dateOfCreation">Date of creation: </label>
        <input type="text" formControlName="dateOfCreation">
    </div> 

    <button class="btn btn-success" type="submit" (click)="newNote()">Submit</button>
</form>
