.badge-info,
.badge-success {
    padding: 40px;
    margin: 15px;
}

.container {
    padding: .1rem;
}

a {
    color: white;
    text-decoration: none;
}

.create-new-note {
    cursor: pointer;
}

table {
    width: 100%;
}
