<div class="card center-in-div">
    <div class="card-header title">
    {{singleNote?.title}}
    </div>
    <div class="card-body">
        {{singleNote?.content}}
    </div>
    <div class="card-footer" fxLayout="row" fxLayoutAlign="space-around center">
        <button [routerLink]="['/all-notes']" routerLinkActive="router-link-active"  class="btn btn-info"> Back</button>
        <button class="btn btn-outline-primary" [routerLink]="['/edit-note', singleNote?.id]"routerLinkActive="router-link-active">Edit</button>
        <button class="btn btn-outline-danger" (click)="deleteNote( singleNote )">Delete</button>
    </div>
</div>
