<ng-template #noContent>
  <div class="center-in-div">
    <div class="card-body">
      <strong><h2>No Notes, click to  <button (click)="createNewNote()" class="btn btn-primary">CREATE NEW</button> </h2></strong>
    </div>
  </div>
</ng-template>


  <div class="card center-in-div" *ngIf="Notes && Notes.length;else noContent">
    <div class="card-header title"> {{ pageTitle }}</div>
    <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
          
            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef class="title"> Title </th>
              <td mat-cell *matCellDef="let singleNote"> {{singleNote.title}} </td>
            </ng-container>
          
            <!-- Note Column -->
            <ng-container matColumnDef="note">
              <th mat-header-cell *matHeaderCellDef class="title"> Note </th>
              <td mat-cell *matCellDef="let singleNote"> {{singleNote.content.substring(0,12)}}... </td>
            </ng-container>
          
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="title"> Actions </th>
              <td mat-cell *matCellDef="let singleNote">
                   <button [routerLink]="['/all-notes', singleNote.id]" routerLinkActive="router-link-active"  class="btn btn-info">View</button>
                   <button class="btn btn-outline-primary" [routerLink]="['/edit-note', singleNote.id]"routerLinkActive="router-link-active">Edit</button>
                   <button class="btn btn-outline-danger" (click)="deleteNote( singleNote )">Delete</button>
                 </td>
            </ng-container>

             <!-- Date Column -->
             <ng-container matColumnDef="dateOfCreation">
                <th mat-header-cell *matHeaderCellDef class="title"> Date of Creation </th>
                <td mat-cell *matCellDef="let singleNote"> {{singleNote.dateOfCreation}}</td>
              </ng-container>

          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="card-footer" fxLayout="row" fxLayoutAlign="center center">
        <button (click)="createNewNote()" class="btn btn-outline-success">New Note +</button>  
      </div>
</div>

